/* styles.css */
.icon-red {
    color: #FF5733;
  }
  
  .icon-green {
    color: #28B463;
  }
  
  .icon-blue {
    color: #1F618D;
  }
  
  .icon-yellow {
    color: #D4AC0D;
  }
  
  .icon-orange {
    color: #CA6F1E;
  }
  
  .icon-purple {
    color: #9B59B6;
  }
  
  .icon-teal {
    color: #1ABC9C;
  }
  